<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Playwright Java Accelerator Test Suite" verbose="2" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="io.github.mypixelquest.pja.listeners.ScreenshotListener" />
    </listeners>
    
    <parameter name="browser" value="chromium" />
    <parameter name="headless" value="true" />
    <parameter name="environment" value="qa" />
    
    <test name="Regression Tests">
        <packages>
            <package name="io.github.mypixelquest.pja.tests.*" />
        </packages>
    </test>
</suite>